.button {
  box-sizing: border-box;
  width: 84px;
  height: 84px;
  padding: 30px;
  cursor: pointer;
  background: url('./assets/burger_icon.svg') center no-repeat;
  border-right: 1px solid #5360cd;
}
.button:hover {
  background: url('./assets/escape_icon.svg') center no-repeat;
}
