.container {
  width: 60px;
  padding: 10px 10px;
  background: #d3d3d4;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #313037;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
