.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(68, 139, 163);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.nav {
  height: 84px;
  width: 100%;
  background: #2231aa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.input {
  flex-basis: 100%;
}

.block {
  display: flex;
}
.search {
  box-sizing: border-box;
  width: 84px;
  height: 84px;
  padding: 30px;
  cursor: pointer;
  background: url('/src/search.png') center no-repeat;
  border-left: 1px solid #5360cd;
}
